@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html
{
    background:url('https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer
{
    background-color:rgba(72,72,72,0.4);
    position: absolute;
    top: 10em;
    left: 5em;
    width: 87%;
    height: 50%;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
    
}

.original
{
    display: flex;
}

select
{
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

#money_val
{
    width: 188px;
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

#button-blue
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:20px;
    padding-top:4px;
    padding-bottom:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover
{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}
    
.submit:hover 
{
    color: #3498db;
}
    
.ease 
{
    width: 0px;
    height: 36px;
    background-color: #fbfbfb;
    transition: .9s ease;
}

.submit:hover .ease
{
  width:93px;
  background-color:white;
}

.label
{
    display: flex;
    padding: 30px;
}

.lab
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    min-width: 17%;
    display: flex;
    flex-wrap: wrap;
}

.submit
{
    margin-top: 3%; 
    margin-left: 20%;
}

#address
{
    top: 37%;
    left: 50%;
    height: auto;
    width: auto;
    padding: 5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    border: #fbfbfb solid 4px;
    background-color: #3498db;
    color:white;
    font-size:4em;
    position: absolute;
    display: none;
}

#answer
{
    text-align: center;
    padding-left: 4px;
    padding-top:0px;
    padding-bottom:0px;
    display: flex;
    flex-wrap: wrap;
}

.feed
{
    position: absolute;
    left: 13em;
}

#text
{
    text-align: center;
    width: 30%;
    position: absolute;
    top: 15%;
    left: 35%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
   
   background-color:rgba(72,72,72,0.4);
    
    color:white;
    font-size:20px;
    padding-top:4px;
    padding-bottom:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
     font-weight:700;
}
